<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {% unless page.url contains '/opennatal3' %}
      {%- include header.html -%}
    {% endunless %}

    {% if page.url == "/" %}
      {%- include banner.html -%}
    {% endif %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% unless page.url contains '/opennatal3' %}
      {%- include footer.html -%}
    {% endunless %}

  </body>

</html>
