---
layout: default
---
<div class="home flex justify-center">
    <h1 class="bebas-neue page-heading">OPEN NATAL 3
    </h1>
</div>
<div class="post-content"></br>
<p>Neste ano atípico, a UDC-RN não deixará nossos viciados em debate sedentos pelo já tradicional Open Natal. Assim, teremos Open sim, mas no formato online!! 📲💻 Ocorrendo dessa vez entre os dias 16 e 18 de Outubro</p>
<br></br>
<p>E... lembrando de como queríamos ⭐️, o tema desse ano é a BOEMIA NATALENSE! 🍻(saudade de um Beco da Lama, né?!) A intenção esse ano é ressaltar a cultura da terra, para além das nossas belezas naturais (🏖🏝), e relembrar nossos momentos de diversão presenciais anteriores, suspirando pelos próximos. 😍🥰</p>
            <div class="home flex justify-center">
                <h1 class="bebas-neue page-heading">FAQ</h1>
            </div>
            <h4 class="bebas-neue">Quando Acontece</h4>
            <p>O III Open Natal acontecerá entre os dias 16 e 18 de outubro.</p>
</br>
            <h4 class="bebas-neue">Em que plataforma será realizado</h4>
            <p>As rondas do torneio serão realizadas pelo Discord, as semifinais e finais serão transmitidas via Zoom. </p>
</br>
            <h4 class="bebas-neue">Como funciona a regra N/2?</h4>
            <p>A cada duas duplas, a SD correspondente deverá enviar, ao menos, um juiz. Em caso de duplas mistas, a regra funciona igualmente, devendo a dupla apontar na inscrição a qual SD a regra N/2 será aplicada.</p>
</br>
            <h4 class="bebas-neue">Qual o cronograma das inscrições? </h4>
            <p>O cronograma do campeonato está na tabela abaixo</p>
            <br>
            <div class="shadow overflow-hidden rounded border-b border-gray-200">
                <table class="min-w-full bg-white">
                <thead class="bg-green-800 text-white">
                    <tr>
                        <th class="w-1/5 text-center py-3 px-4 uppercase font-semibold text-sm bg-green-800">Lote</th>
                        <th class="w-1/5 text-center py-3 px-4 uppercase font-semibold text-sm bg-green-800">Valor</th>
                        <th class="w-3/5 text-center py-3 px-4 uppercase font-semibold text-sm bg-green-800">Número de duplas</th>
                    </tr>
                </thead>
                <tr>
                    <td class="text-center py-3 px-4">1° Lote</td>
                    <td class="text-center py-3 px-4">R$ 40,00 (quarenta reais) </td>
                    <td class="text-center py-3 px-4">15 Duplas</td>
                </tr>
                <tr>
                    <td class="text-center py-3 px-4">2° Lote</td>
                    <td class="text-center py-3 px-4">R$ 50,00 (cinquenta reais)</td>
                    <td class="text-center py-3 px-4">15 Duplas</td>
                </tr>
                <tr>
                    <td class="text-center py-3 px-4">3° Lote</td>
                    <td class="text-center py-3 px-4">R$ 60,00 (sessenta reais)</td>
                    <td class="text-center py-3 px-4">As demais</td>
                </tr>
                </table>
            </div>
            <br>
            <h4>Tenho mais duvidas, com quem posso falar?</h4>
			<p>Dúvidas podem ser feitas através do <a class="text-green-600 hover:text-grey-dark" href="mailto:udcrn.contato@gmail.com">udcrn.contato@gmail.com</a></p>
            <br>
            <!-- <div class="flex flex-wrap items-center justify-center">
                 <div class="flex-shrink-0 m-3 relative overflow-hidden bg-orange-500 rounded-lg shadow-lg transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
                 <svg class="absolute bottom-0 left-0 mb-8" viewBox="0 0 375 283" fill="none" style="transform: scale(1.5); opacity: 0.1;">
                 <rect x="159.52" y="175" width="152" height="100" rx="8" transform="rotate(-45 159.52 175)" fill="white"/>
                 <rect y="107.48" width="152" height="100" rx="8" transform="rotate(-45 0 107.48)" fill="white"/>
                 </svg>
                 <div class="relative pt-5 px-5 flex items-center justify-center">
                 <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3" style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;"></div>
                 <img class="relative w-40" src="https://user-images.githubusercontent.com/2805249/64069899-8bdaa180-cc97-11e9-9b19-1a9e1a254c18.png" alt="">
                 </div>
                 <div class="relative text-white px-6 pb-6 mt-6">
                 <a href="#" class="block bg-white rounded-full text-orange-500 text-xs font-bold px-3 py-2 leading-none flex items-center">Manual de Campeonato</a>
                 </div>
                 </div>
                 <div class="flex-shrink-0 m-3 relative overflow-hidden bg-red-500 rounded-lg shadow-lg transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
                 <svg class="absolute bottom-0 left-0 mb-8" viewBox="0 0 375 283" fill="none" style="transform: scale(1.5); opacity: 0.1;">
                 <rect x="159.52" y="175" width="152" height="100" rx="8" transform="rotate(-45 159.52 175)" fill="white"/>
                 <rect y="107.48" width="152" height="100" rx="8" transform="rotate(-45 0 107.48)" fill="white"/>
                 </svg>
                 <div class="relative pt-5 px-5 flex items-center justify-center">
                 <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3" style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;"></div>
                 <img class="relative w-40" src="https://user-images.githubusercontent.com/2805249/64069899-8bdaa180-cc97-11e9-9b19-1a9e1a254c18.png" alt="">
                 </div>
                 <div class="relative text-white px-6 pb-6 mt-6">
                 <a href="#" class="block bg-white rounded-full text-green-500 text-xs font-bold px-3 py-2 leading-none flex items-center">Manual de Adjudicação</a>
                 </div>
                 </div>
                 <div class="flex-shrink-0 m-3 relative overflow-hidden bg-blue-500 rounded-lg shadow-lg transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
                 <svg class="absolute bottom-0 left-0 mb-8" viewBox="0 0 375 283" fill="none" style="transform: scale(1.5); opacity: 0.1;">
                 <rect x="159.52" y="175" width="152" height="100" rx="8" transform="rotate(-45 159.52 175)" fill="white"/>
                 <rect y="107.48" width="152" height="100" rx="8" transform="rotate(-45 0 107.48)" fill="white"/>
                 </svg>
                 <div class="relative pt-5 px-5 flex items-center justify-center">
                 <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3" style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;"></div>
                 <img class="relative w-40" src="https://user-images.githubusercontent.com/2805249/64069899-8bdaa180-cc97-11e9-9b19-1a9e1a254c18.png" alt="">
                 </div>
                 <div class="relative text-white px-6 pb-6 mt-6">
                 <a href="#" class="block bg-white rounded-full text-blue-500 text-xs font-bold px-3 py-2 leading-none flex items-center">Edital</a>
                 </div>
                 </div>
                 <div class="flex-shrink-0 m-3 relative overflow-hidden bg-green-500 rounded-lg shadow-lg transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
                 <svg class="absolute bottom-0 left-0 mb-8" viewBox="0 0 375 283" fill="none" style="transform: scale(1.5); opacity: 0.1;">
                 <rect x="159.52" y="175" width="152" height="100" rx="8" transform="rotate(-45 159.52 175)" fill="white"/>
                 <rect y="107.48" width="152" height="100" rx="8" transform="rotate(-45 0 107.48)" fill="white"/>
                 </svg>
                 <div class="relative pt-5 px-5 flex items-center justify-center">
                 <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3" style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;"></div>
                 <img class="relative w-40" src="https://user-images.githubusercontent.com/2805249/64069899-8bdaa180-cc97-11e9-9b19-1a9e1a254c18.png" alt="">
                 </div>
                 <div class="relative text-white px-6 pb-6 mt-6">
                 <a href="#" class="block bg-white rounded-full text-green-500 text-xs font-bold px-3 py-2 leading-none flex items-center">Manual de Equidade</a>
                 </div>
                 </div>
                 </div> -->
            <div class="home flex justify-center">
                <h1 class="bebas-neue page-heading">Pagamento</h1>
            </div>
            <p>As incrições devem ser efetuadas, e o pagamento deve ser enviado para a conta no picpay @luccasmmg, após essa etapa um comprovante deve ser enviado para o email</p>
            <div class="container" x-data="{ tab: 'tab1' }"></br>
            <ul class="flex border-b mt-6" >
                <li class="-mb-px mr-1">
                    <a
                        class="inline-block rounded-t py-2 px-4 font-semibold hover:text-green-800"
                        :class="{ 'bg-white text-green-700 border-l border-t border-r' : tab === 'tab1' }"
                        href="#"
                        @click.prevent="tab = 'tab1'">Inscrições Debatedores
                    </a>
                </li>
                <li class="-mb-px mr-1">
                    <a
                        class="inline-block py-2 px-4 text-green-500 hover:text-green-800 font-semibold"
                        :class="{ 'bg-white text-green-700 border-l border-t border-r' : tab === 'tab2' }"
                        href="#"
                        @click.prevent="tab = 'tab2'">Inscrições Adjudicadores
                </a
                    >
                </li>
            </ul>
            <div class="content bg-white px-4 py-4 border-l border-r border-b pt-4">
                <div x-show="tab === 'tab1'">
                  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdkHTA_Q2Qh8UlepY3oA9hoFym92-zAFrcu-ra3BA3d_BwPWw/viewform?embedded=true" width="100%" height="1300" frameborder="0" marginheight="0" marginwidth="0">Carregando…</iframe>
                </div>
                <div x-show="tab === 'tab2'">
                  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfmem3h2PyyMV_ECpa9H8sogYrpiMzQdXMWmKcL2U5umJK1-g/viewform?embedded=true" width="100%" height="1300" frameborder="0" marginheight="0" marginwidth="0">Carregando…</iframe>
                </div>
            </div>
      </div>
</div>
</div>
</body>
